.Container{
    width: 700px;
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

input{
    width: 92%;
    height: 100%;
    border: 0;
    margin: 0;
    font-size: 20px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 12px 0 0 12px;
}
.SearchButton{
    width: 60px;
    height: 100%;
    border: 0;
    border-radius: 0 12px 12px 0;
    background-color: black;
}

.InputError{
    border: 1px solid rgb(255, 36, 36);
    background-color: hsl(0, 85%, 90%);
}

.InputSuccess{
    border: 0;
    background-color: white;
}